.app.dark {
    --bg-color: #10107e;
    --inverted-bg-color: #cacad9;
    --primary-color: #02a954;
    --secondary-color: #1f551c;
    --inverted-primary-color: #291476;
    --inverted-secondary-color: #908fb9;
}