.app_pink_theme {
    --bg-color: #fbf4fa;
    --inverted-bg-color: #ff21f0;
    --primary-color: #7600f5;
    --secondary-color: #fbf4fa;
    --inverted-primary-color: #fbf4fa;
    --inverted-secondary-color: #7600f5;
}
