.app_pink_theme {
    --bg-color: #fbf4fa;
    --inverted-bg-color: #ff21f0;
    --primary-color: #7600f5;
    --secondary-color: #99328a;
    --inverted-primary-color: #fbf4fa;
    --inverted-secondary-color: #7600f5;

    // redesigned
    --dark-bg-redesigned: #88295F;
    --bg-redesigned: #FF43B2;
    --light-bg-redesigned: #f7a7f7;
    --text-redesigned: #ffffff;
    --hint-redesigned: #C4E4FF;
    --cancel-redesigned: #FF5E5E;
    --save-redesigned: #52FA81;
    --icon-redesigned: #7600f5;
    --accent-redesigned: #D91AFF;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #f7a7f7;

    // listbox
    --listbox-bg: #f7a7f7;
}
